# App
PORT=3001

# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=reachinbox
DB_PASSWORD="Sidd04#"
DB_PORT=5432

# Redis (Memurai / native Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# Elasticsearch (optional)
ELASTICSEARCH_URL=http://localhost:9200

# SMTP (Ethereal mock)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Rate Limiting
MAX_EMAILS_PER_HOUR=200

# Slack (optional)
SLACK_WEBHOOK_URL=
